<br>
<br>
spaces.show
<br>

<h3>The space you clicked on has just been updated to have :claimed set to 'true'.</h3>


<h3>You now have a claim to this space and it will not appear in any other user's search. </h3>



<p>Here is a map and directions (cooridinates) to the space:</p>

<%= @space.latitude %>
  <%= @space.longitude %>
<br>

<p>From here, three things are possible:</p>

<br>
<span>1.)  You find another available space before your claimed space and will park there instead.</span>

	<div class="destination_form_container">
		 	<%= render 'destinations/form' %>
	</div>
	<button>Click here WHEN YOU ARE AT THE NEW-FOUND SPACE.</button>

<p>This will do two things:</p>
<ul><li>a.) Set your previously claimed space to now have :claim 'false'</li><li>b.) Access your location and create a new space (which belongs to you)</li>
</ul>

<br>

<span>2.)  You arrive at the space to find it is no longer open.</span>

	<div class="destination_form_container">
		 	<%= render 'destinations/form' %>
	</div><button>Click here if that happens.</button><p>This will do two things:</p>
<ul><li>a.) Destroy the claimed space.</li><li>b.) Access your location and take you back to destination.show, with your current location</li>
</ul>

<br>

<span>3.)  You arrive at the space, it is open, you park there.</span><%= link_to "Click here WHEN YOU PARK", space_path, method: :transfer %><p>This will do the following:</p>
<ul>
<!-- <li>a.) Destroy the claimed space (if it is not already destroyed)</li>
<li>b.) Access your location and create a new space (which belongs to you)</li> -->
<li>Transfer ownership of the spaces to you</li>
<li>Set the :status to 0 and :claimed to false</li>

(Although, ultimately I would like it to a.) destroy the claimed space (if it is not already destroyed), and b. access your location and create a new space (which belongs to you)).
</ul>



<br>
