
<br>
<br>
users.index
<br>
<br>



	<h3>Submitting here creates a new Destination, with fields: :address, :user_id, :user_act_latitude, :user_act_longitude.</h3>
	<h3 class="mobileGPS">Any data posted in forms with a blue outline will be gathered automatically from the device GPS in the mobile version.</h3>
	<br>
	<br>
	<div class="destination_form_container">
		 	<%= render 'destinations/form' %>
	</div>



	





<!-- for viewing purposes -->

<br>
<br>

Spaces owned at the moment:

<ul>

<% @spaces.each do |space| %>

	<li>id <%= space.id %> user_id <%= space.user_id %> user <%= space.user.email %> status <%= space.status %> claimed <%= space.claimed %></li>
	
	
	<% end %>

</ul>
