<%= form_for(@destination) do |f| %>




	<!-- <div class="field new_destination"> -->

		<% if @destination.address==nil %>

		    <%= f.label :address, "Enter destination address"%>
		    <div class="new_destination_address">
		   		<%= f.text_field :address, class: "fieldStyle" %>
		    </div>

		    <div class="empty_space">
		    	<br>
		    


		    </div>

		<% end %>

	    <div class="mobileGPS">

		   <%= f.label :user_act_latitude, "User's current latitude"%>
		   <div class="new_destination_user_lat">
		   		<%= f.text_field :user_act_latitude %>
		   </div>

		   <%= f.label :user_act_longitude, "User's current longitude"%>
		   <div class="new_destination_user_long">
		   		<%= f.text_field :user_act_longitude %>
		   </div>

	    </div>

	    <br>
	    <div class="actions">
	    	<%= f.submit class: "btn btn-primary buttonStyle"%>
	    </div>
	<!-- </div> -->




<% end %>